@import "tailwindcss";
@import "nativewind/theme";

@source "../app/**/*.{ts,tsx,js,jsx}";
@source "../components/**/*.{ts,tsx,js,jsx}";

.recharts-wrapper *:focus,
.recharts-surface:focus,
svg:focus {
    outline: none !important;
}

input:focus,
textarea:focus {
    outline: none !important;
}